<%-  include('layouts/header') %>
<body id="page-top">
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">My Quizzes</h1>
            <form action="/dashboard/viewquizzes" method="POST">
                <input type="text", name="search" placeholder="Search For Quiz" required>
                <input type="submit" value="search">
            </form>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">QuizID</th>
                <th scope="col">QuizName</th>
                <th scope="col">Date Created</th>
                <th scope="col">Total Players</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
               <% let counter = 1 %>
               <% quizzes.forEach((quiz)=>{ %>
                <% let date = quiz.date.toJSON().slice(0,10); %>
                <tr>
                    <th scope="row"><%= counter %></th>
                    <td><%= quiz.quizID %> </td>
                    <td><%= quiz.quizName %></td>
                    <td><%= date %></td>
                    <td><%= quiz.totalPlayers %></td>
                    <td>View Score Edit Delete</td>
                </tr>
               <% counter++  %>
               <% }) %>

             
            </tbody>
          </table>



    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  
<%-  include('layouts/footer') %>